@font-face {
    font-family: "Myriad Pro Regular";
    src: url("../fonts/MyriadPro-Regular.woff2") format("woff2");
            url("../fonts/MyriadPro-Regular.woff") format("woff");
}

:root {
    --logoColor: #4BCAFF;
    --navColor: #35444F;
    --navColorHover: #222F3A;
    --footerColor: #B4B7BA;
    --sidebarColorHover: #DBDBDB
}

body {
    font-family: "Myriad Pro Regular", serif;
    box-sizing: border-box;
}

.btn-theme {
    display: inline-block;

    font-size: 14px;
    vertical-align: middle;
    background: none;
    border: 1px solid #ccc;
    color: #7b7b7b;
    border-radius: 10px;
    padding: 10px;
}
.btn-theme:hover {
color:#fff;
    background-color: #ccc;
    cursor: pointer;
}
.container {
    margin:0 auto;
    width:1282px;
}
.header{
    margin-bottom: 35px;
}
.header-logo {
    font-size: 80px;
    color:var(--logoColor);
    display: inline-block;
    vertical-align: middle;
}
.header-logo--black {
    color: #000;
}

/*LINKS AND MENUS*/

.footer-menu, .footer-right {
    display: inline-block;
}
.nav-list, .sidebar-list, .footer-menu-list {
    list-style: none;
    margin:0;
    padding:0;
}
.nav-list {
    text-align: center;
}

.nav {
    background-color: var(--navColor);
    margin-bottom: 38px;
}
.nav-item {
    padding:20px 30px;
}
.nav-link {
    color:#fff;
    font-size: 24px;
    /*margin-right:62px;*/
}

.nav-item:hover {
    background-color: var(--navColorHover);
}

.nav-item, .footer-menu-item {
    display: inline-block;
    font-size: 0;
}
.nav-link, .sidebar-link, .footer-menu-link {
    text-decoration: none;
}
.footer-menu-list {
    margin-left: 33px;
}
.footer-menu-link {
    font-size: 28px;
    color:#0C1927;
    padding-right: 10px;
}
.footer-menu-link:hover{
    color:#3181A6;
    text-decoration: underline;
}
/*SIDEBAR*/

.sidebar {
    width:345px;
    display: inline-block;
    vertical-align: top;
    border:1px solid #ccc;
    margin:0 40px 0 0;
    padding:0;
}
.sidebar-item {

}
.sidebar-link{
    display:block;
    padding: 15px 0 15px 22px;
    font-size: 30px;
    color: #495863;
}
.sidebar-item .sidebar-link:hover{
    padding-left:35px;
    color:#35444F;
    background-color: var(--sidebarColorHover);
}

/*MAIN CONTENT*/

main {
    width:885px;
    display: inline-block;
    vertical-align: top;
}
.image-container {
    border:1px solid #ccc;
    margin-bottom: 38px;
    width:885px;
}
.image {
    display: block;
    margin:55px auto;
}
.image:hover{
    transform: scale(1.1);
    transition: 1s;
}
.content {
    padding:0 22px;
}
.content p {
    margin-bottom: 22px;
}

/*FOOTER GENERAL STYLES*/
.footer {
    margin-top: 38px;
    background-color: var(--footerColor);
}
.footer-menu {
    text-align: left;
}
.footer-right{
    margin-left:164px;
}
.footer-copyright {
    font-size: 24px;
    margin-right: 26px;
}


