label {
    margin-right: 10px;
}
input {
    border-radius: 2px;
    border:1px solid #ccc;
}
input:focus {
    outline-color: transparent;

}

.current-price {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width:150px;
    padding:5px;
}
button {
 float: right;
    padding: 0;
    margin-top: 2px;
    background: none;
    font-size: 10px;
    border: 1px solid #ccc;
    width:14px;
    height: 14px;
    border-radius: 50%;
    color: #ccc;
}

button:hover {
    color:#fff;
    background-color: #ccc;
}