@import "resets.css";

.conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #1d2124;
}
.square-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 73px;
    height: 70px;
    background-color: #1a1d20;
}
.left-part{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-text{
    text-decoration: none;
    font-family: OpenSans, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}
.square-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 70px;
    background-color: #1a1d20;
}
.logo-search{
    width: 17px;
    height: 17px;
}
.logo-top{
     width: 27px;
     height: 27px;
 }
.links{
    display: flex;
    justify-content: space-between;
    width: 750px;
}
.links-menu{
    text-decoration: none;
    font-family: OpenSans, sans-serif;
    font-size: 15px;
    color: #ffffff;
}

.nav-bar {
    background-color: #353a3d;
    display: flex;
    padding: 20px;
    justify-content: space-around;
}
.nav-link {
    color: bisque;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    display: inline-block;
}

.nav-link:hover {
    color: lightsalmon;
}





.conteiner-center{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/header-bg.jpeg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 370px;
    background-position: bottom;
    background-attachment: fixed;
}
.title-center{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.buttom-center{
    display: flex;
    justify-content: space-between;
    width: 360px;
}
.title{
    font-family: OpenSans,sans-serif;
    font-size: 27px;
    margin-bottom: 44px;
    color: #ffffff;
}
.btn{
    width: 170px;
    height: 55px;
    font-size: 18px;
    font-family: OpenSans,sans-serif;
    outline: none;
    border-radius: 5px;
    color: white;
    border: 0;
}
.buttom-one{
    background-color: #89ca62;
}
.buttom-two{
    background-color: #14b9d5;
}
.conteiner-images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #f2f2f2;
}
.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 133px;
    background-color: #f2f2f2;
}
.headline-text{
    font-family: OpenSans,sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    text-align: center;
    align-self: center;
}
.wrapper-images{
    display: flex;
    justify-content: space-between;
    width: 1170px;
}
.block-images-one{
    width: 370px;
    height: 673px;
    display: flex;
    flex-wrap: wrap;
}
.block-images-two{
    width: 370px;
    height: 782px;
    display: flex;
    flex-wrap: wrap;
}
.block-images-three{
    width: 370px;
    height: 825px;
    display: flex;
    flex-wrap: wrap;
}
.image{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.item{
    width: 370px;
    background-color: white;
}
.item-one{
    height: 320px;
}
.item-two{
    height: 324px;
}
.item-three{
    height: 441px;
}
.item-four{
    height: 309px;
}
.item-five{
    height: 355px;
}
.item-six{
    height: 441px;
}
.btn-container {
    text-align: center;
}
.btn-slide-section {
    margin:20px auto;
    width:150px;
    height: 70px;
    display: inline-block;
    border: 2px solid #169cb4;
    border-radius: 5px;
    background-color: transparent;
    font-size: 20px;
    color:#169cb4;
    font-weight: bold;
}
.btn-slide-section:hover{
 background-color: rgba(154, 191, 205, 0.5);
    color:#000;
    border-color: #000;
}

.btn-slide-section.active {
    border-color: lightsalmon;
    color: lightsalmon;
}
.btn-slide-section.active :hover{
   background-color: rgba(255,208,186,0.5);
    color:#000;
    border-color: #000;
}
.image-text{
    margin-top: 20px;
    font-family: OpenSans,sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #353a3d;
}
.popular-brands{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 880px;
    height: 590px;
    align-items: center;
    align-content: center;
    justify-items: center;
    margin: 0 auto;
}
.conteiner-paralax{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.our-most{
    grid-column: 1/5;
    font-family: OpenSans,sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
}
.our-most:after{
    content: '';
    display: block;
    width: 60px;
    margin: 55px auto;
    border-bottom: 2px solid #169cb4;;
}
.top-rated{
    display: grid;
    grid-template-rows: 0.5fr 1fr;
}
.top-rated-images{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.top-rated-item{
    width: 100%;
}
.hot-news{
    margin-top: 60px;
    margin-bottom: 51px;
}
.conteiner-hot{
    display: grid;
    grid-template-columns: 1fr 1170px 1fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 0px;
    grid-row-gap: 42px;
    box-sizing: border-box;
    grid-template-areas:"left center-top right"
                        "left center-midle right"
                        "left center-bottom right";
}
.center-top{
    display: grid;
    grid-area: center-top;
    grid-template-columns: auto auto;
    grid-column-gap: 35px;
}
.small-image{
    text-align: right;
    padding: 41px 24px 37px 30px;
}
.heading-small{
    margin-top: 14px;
    font-family: OpenSans,sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #353a3d;
}
.heading-hotel{
    font-family: OpenSans,sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #353a3d;
}
.text-content{
    font-family: OpenSans,sans-serif;
    font-size: 12px;
    margin-top: 22px;
    font-weight: bold;
    text-align: right;
    line-height: 19px;
    color: #5b6469;
}
.image-one{
    display: flex;
    width: 856px;
    height: 259px;
    box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.03);
    background-color: #f9f7f7;
}
.image-two{
    width: 277px;
    height: 261px;
    background-color: #f9f7f7;
    text-align: center;
}

.center-middle{
    display: grid;
    grid-area: center-midle;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 42px;
    grid-template-areas:"left-one right-one"
                        "left-two right-two";
}
.item-middle-one{
    grid-area: left-one;
    width: 554px;
    height: 418px;
    background-color: #f9f7f7;
}
.item-middle-two{
    grid-area: right-one;
    width: 554px;
    height: 418px;
    background-color: #f9f7f7;
}
.item-middle{
    width: 554px;
    height: 418px;
    background-color: #f9f7f7;
}
.text-midle{
    font-family: OpenSans,sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    margin-right: 27px;
    margin-top: 20px;
    color: #353a3d;
}
.content-midle-text{
    font-family: OpenSans,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 26px;
    text-align: right;
    margin-right: 27px;
    line-height: 19px;
    color: #5b6469;
}
.center-bottom{
    display: grid;
    grid-area: center-bottom;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 71px;
    grid-template-areas: "left-one right-one"
    "left-two right-two";
}

.btn-scroll-up{
    position: fixed;
    right:10px;
    bottom:10px;
    display: block;
    width:70px;
    height: 70px;
    background-color: #ff905b;
    color:#fff;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 390px 390px 390px 1fr;
    grid-template-rows: 80px;
    background-color: #1d2124;
}
.footer-copyrights {
    font-size: 13px;
    font-family: "Open Sans", system-ui;
    color: white;
    grid-column: 2/4;
    justify-self: start;
    align-self: center;
}
.footer-logo-wrapper {
    justify-self: end;
    display: flex;
    align-items: center;
    align-content: center;
}